<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-group">

                {{#each articlesData}}
                <li class="list-group-item">
                    <p>section: {{section}}</p>
                    <p>title: {{title}}</p>
                    <p>link: {{link}}</p>
                </li>

                {{/each}}
            </ul>
        </div>
    </div>
</div>