<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="">

            </div>
            <ul class="list-group">

                {{#each articlesData}}
                <li class="list-group-item">
                    <p>{{section}}</p>
                    <p>{{title}}</p>
                    <p>{{link}}</p>
                </li>

                {{/each}}
            </ul>
        </div>
    </div>
</div>