.btn {
    background: lightblue;
    color: blue;
    border-radius: 350%;
}

#h1 {
    margin: 40px 0px 40px 550px;
    font-size: 80px;
    color: red;
}

.comment {
    border-radius: 50%;
    background: blue;
    color: lightblue;
    padding: 5px;
    margin: 0px 0px 0px 10px;

}
